.hero-section {
  width: 100%;
  min-height: 89.2vh;
  background-image: url('BgHero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFF8F0;
  text-align: center;

}
.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--highlight-color);
}

.hero-subtitle {
  font-size: 3rem;
  color: var(--highlight-color);
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero-section {
    height: 100vh; /* ocupa tela inteira no mobile */

  }

  .hero-title {
    font-size: 2.2rem;
    line-height: 1.5;
    padding: 0 50px;
  }

  .hero-subtitle {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}