.cardapio-section {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cardapio-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.cardapio-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .cardapio-filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
  }
}
