.input-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--body-font);
}

.input {
  width: 95%;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: var(--highlight-color);
  border-radius: 8px;
}